<div class="navbar__container">
  <h1 class="navbar__logo">Listicle</h1>

  <ul class="navbar__list">
    <li class="navbar__list-item">
      <a href="/" class="navbar__list-item--link">Email</a>
    </li>
    <li class="navbar__list-item">
      <a href="/users" class="navbar__list-item--link">about</a>
    </li>
  </ul>
</div>