<section class="newsfeed">
  <ul class="newsfeed__article-list">
  {{#each article}}
    <li class="newsfeed__article-item">
      <article class="newsfeed__article-item--desktop">
        {{> article_desktop}}
      </article>
      <article class="newsfeed__article-item--mobile">
        {{> article_mobile}}
      </article>
    </li>
  {{/each}}
  </ul>
</section>