//these are all the type mixins

@mixin ArticleHeadline(){
  color: $black;
  font-family: $serif;
  font-size: rem-calc(23);
  font-weight: 400;
  line-height: rem-calc(27);
}

@mixin Eyebrow(){
  color: $mid-gray;
  font-family: $sans-serif;
  font-size: rem-calc(10);
  font-weight: 300;
  line-height: rem-calc(12);
}

@mixin ReadMore {
  color: $brand-red;
  font-family: $sans-serif;
  font-size: rem-calc(11);
  font-weight: 800;
  line-height: rem-calc(15);
  text-transform: uppercase;
}

@mixin Timestamp() {
  color: $black;
  font-family: $sans-serif;
  font-size: rem-calc(10);
  font-weight: 300;
  line-height: rem-calc(12);
}

@mixin Teaser() {
  color: $dk-gray;
  font-family: $serif;
  font-size: rem-calc(15);
  font-weight: 400;
  line-height: rem-calc(23);
}