//these are all the type mixins

@mixin ArticleHeadline(){
  color: $black;
  font-family: $serif;
  font-size: rem-calc(23);
  font-weight: 400;
  line-height: rem-calc(27);
}

@mixin NavbarLogo(){
  color: $brand-green;
  font-family: $serif;
  font-size: rem-calc(30);
  font-weight: 700;
  line-height: rem-calc(34);
  display: inline-block;
}

@mixin PageLink(){
  @include link-transition(350ms);
  color: $brand-green;
  font-family: $sans-serif;
  font-size: rem-calc(11);
  font-weight: 300;
  line-height: rem-calc(15);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
    color: $brand-green;
  }
}

@mixin Author(){
  color: $black;
  font-family: $sans-serif;
  font-size: rem-calc(12);
  font-weight: 400;
  line-height: rem-calc(14);
}

@mixin Eyebrow(){
  color: $mid-gray;
  font-family: $sans-serif;
  font-size: rem-calc(10);
  font-weight: 300;
  line-height: rem-calc(12);
}

@mixin ReadMore() {
  color: $brand-red;
  font-family: $sans-serif;
  font-size: rem-calc(11);
  font-weight: 800;
  line-height: rem-calc(15);
  text-transform: uppercase;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: $brand-red;
    text-decoration: none;
    outline: none;
  }
}

@mixin Timestamp() {
  color: $black;
  font-family: $sans-serif;
  font-size: rem-calc(10);
  font-weight: 300;
  line-height: rem-calc(12);
}

@mixin Teaser() {
  color: $dk-gray;
  font-family: $serif;
  font-size: rem-calc(15);
  font-weight: 400;
  line-height: rem-calc(23);
}
