// colors

$white: #fff;
$black: #111;
$dk-gray: #333;
$mid-gray: #555;
$lt-gray: #ccc;
$border-gray: #eee;

$brand-red: #f85d00;
$brand-yellow: #ff5400;
$brand-green: #acca59;

// font families

$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif : Arial, "Helvetica Neue", Helvetica, sans-serif;
