.newsfeed {

  &__article-list {
    list-style-type: none;
  }

  &__article-item {
    position: relative;
    padding-bottom: rem-calc(31);
    padding-top: rem-calc(30);

    &:first-of-type {
      padding-top: 0;
    }
  }

  &__eyebrow {
    @include Eyebrow();

    &--topic {

      &::before {
        content: "|";
        display: "inline-block";
        padding-right: rem-calc(5);
      }
    }
  }

  &__link {
    @include ReadMore();

    &::after {
      content: ">>";
      display: "inline-block";
      padding-left: rem-calc(5);
    }
  }
}

.newsfeed-article {

  &__title {
    @include ArticleHeadline();
    margin-top: rem-calc(1);
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &__author {
    @include Author();
    margin-top: rem-calc(12);
    margin-bottom: rem-calc(20);
  }

  &__deck {
    @include Teaser();
    margin-top: rem-calc(12);
    margin-bottom: rem-calc(3)
  }

  &__poster-img {
    display: inline;
  }

}

@include breakpoint(large up) {
  .newsfeed {
    @include flex-grid-column(8);
    display: block;
    margin: 0 auto;


    &__article-item {

      &--desktop {
        display: block;

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 97%;
          height: rem-calc(1);
          background-color: $border-gray;
          left: 0;
          bottom: 0;
        }
      }

      &--mobile {
        display: none;
      }
    }
  }

}

@include breakpoint(medium down) {
  .newsfeed {
    @include flex-grid-column(12);

    &__article-list {
      padding-left: 0;
    }


    &__article-item {
      padding-bottom: 0;
      padding-top: rem-calc(20);

      &--desktop {
        display: none;
      }

      &--mobile {
        @include flex-grid-row();

        display: block;
        position: relative;
        padding-bottom: rem-calc(20);


        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 97%;
          height: rem-calc(1);
          background-color: $border-gray;
          left: 0;
          bottom: 0;
        }
      }
    }

    &__text-box {
      width: 55%;
      position: absolute;
      top: 0;
      left: 45%;
    }
  }

  .newsfeed-article {

    &__poster-img-container {
      @include aspect-ratio(4, 3);
      width: 40%;
    }

    &__poster-img {

      &--mobile {
        width: 100%;
      }
    }
  }
}
